@use '../partials/resets.scss' as *;
@use '../partials/variables.scss' as *;
@use '../partials/mixins.scss' as *;


.hero{
    background-image: url(../assets/images/massage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include desktop{
        height: 50vw;
    }
    

    &__container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 150vw;
        backdrop-filter: grayscale(100%);
        text-align: center;
        justify-content: center;
        padding: $mobile-padding;

        @include tablet{
            height: 80vw;
            padding: $tablet-padding;
        }
        @include desktop{
            height: 50vw;
            padding: $desktop-padding;
        }
        
        
       

        &--text{
            color: $cp-black;
            line-height: 1.5;
            font-size: 2.5rem;

            @include desktop{
               font-size: 3.3rem;
            }
           
        }
        &--text2{
            color: $cp-black;
            line-height: 1;
            font-size: 1.5rem;
            padding-bottom: .2rem;
            border-bottom: 1px solid $cp-white;

            @include tablet{
                border-bottom: none;
            }
            @include desktop{
                font-size: 2.3rem;
             }

            &-hr{
               display: none;
               margin: 0;
               
               @include tablet{
                   display: inline-block;
                   width: 70%;
                   margin-top: 1rem;
                   align-self: center;
               }
               @include desktop{
                width: 65%;
                align-self: center;
             }
            }
           
           
        }
        &--btns{
            margin-top: 4rem;
            display: flex;
            flex-direction: column;
    
            &-btn{
                align-self: center;
                border: none;
                width: 50%;
                height: 1.5rem;
                margin: 1rem 0;
                background-color: transparent;
                background-repeat: no-repeat;
                border: none;
                cursor: pointer;
                overflow: hidden;
                outline: none;

                @include tablet{
                    width: 30%;
                    height: 1.6rem;
                }
                @include desktop{
                   height: 1.8rem;
                   font-size: 1rem;
                 }
            }
        }

    }
  
}
