@use '../partials/resets.scss' as *;
@use '../partials/variables.scss' as *;
@use '../partials/mixins.scss' as *;

.safety{
    background-color: #ffda77;
    padding: .3rem 0;

    &__name{
        text-align: center;
    }

    @include tablet {
        text-align: left;
       }


    @include desktop{
        padding: .5rem 0;
    }
}