@use './variables' as *;
@use '../partials/mixins.scss' as *;
*{
    margin: 0;
    padding: 0;
}

*, *::before, *::after{
    box-sizing: border-box;

}

a{
    text-decoration: none;
    
    &:visited{
        color: $cp-black;
    }
}

h1{
    font-family: "PTSerif";
    font-size: 2rem;
    font-weight: 700;
}

h2{
    font-family: "Raleway";
    font-size: 1.5rem;
    font-weight: 500;
}
h3{
    font-family: "Raleway";
    font-size: 1rem;
    font-weight: 400;
}
h4{
    font-family: "Raleway";
    font-size: 1rem;
    font-weight: 300;
}
p{
    font-family: "Raleway";
    font-size: 1rem;
    font-weight: 200;
}
li{
    font-family: "Raleway";
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5rem;
}
label{
    font-family: "Raleway";
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5rem;
}
